<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>
      Chart
    </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script src="http://code.highcharts.com/modules/exporting.js" type="text/javascript"></script>

      <script type="text/javascript">
        $(function() {
            $('#container').highcharts({
                title: {
                    text: 'Bitcoin Price Prediction',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Kaggle data',
                    x: -20
                },
                xAxis: {
                    categories: {{ dates|safe }}
                },
                yAxis: {
                    title: {
                        text: 'Bitcoin Price (USD)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: 'USD'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: [{
                    name: 'actual',
                    data: {{ values|safe }}
                }, {
                    name: 'Predicted',
                    data: {{ values1 |safe }}
                },
                ]
            });
        });
    </script>
  </head>
  <body>
    <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
  </body>
</html>